<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="title" content="Computer Science Authentication" />
  <meta name="robots" content="noindex, nofollow" />
  <link rel="stylesheet" type="text/css" media="screen" href="[%c.uri_for ('/static/style.css')%]" />
	<title>Computer Science Authentication</title>
</head>
<body>

Cookie status is:
<table>
<tr> <td> CS Auth </td> <td> [% csauth.value %] </td> </tr>
<tr> <td> CS Sig </td> <td> [% cssig.value %] </td> </tr>
</table>

<br/>
Login <a href="login"> again </a>

</body>
</html>
